.grid-ind{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 1rem;
    justify-items: center;
    align-items: center;
}
.scale-ind{
  scale: 0.8;
}
.icon-color-ind {
    color: rgb(85, 83, 83);
}
.img-w-h-port {
  width: 169px;
  height: 218.706px;
}
.img-w-h-land {
  width: 218.706px;
  height:  170px;
}


  .draggable {
    display: flex;
    background-color: white;
    cursor: grab;
    color: #ffffff;
    touch-action: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .dragging {
    cursor: grabbing;
    transform: scale(1.05);
    
  }
  .dragging-mob {
    cursor: grabbing;
    transform: scale(1.05);
    background: transparent;
    
  }
  
  .invisible {
    opacity: 0.5;
  }
  
  .dragging-clone {
    z-index: 1000;
    opacity: 0.7;
    pointer-events: none;
    background-color: blue;
    
  }
  