@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}

.c-menu-arrow{
    font-weight: bold;
    margin-left: .5rem;
    font-size: 1.5rem;
}



.about-menu {
    width: 100%;
    
    top: 4rem;
    
    border-radius: 10px;
}



.menu-icon{
    font-weight: bold;
    /* margin-left: .5rem; */
    font-size: 2rem;
}
