@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IBM Plex Sans", sans-serif;
    
}

.c-menu-arrow{
    font-weight: bold;
    margin-left: .5rem;
    font-size: 1.5rem;
}



.about-menu {
    width: 100%;
    
    top: 4rem;
    
    border-radius: 10px;
}



.menu-icon{
    font-weight: bold;
    /* margin-left: .5rem; */
    font-size: 2rem;
}


#root {
    display: flex;
    flex-direction: column;
    position: relative;
}
.upload-container{
    width: 56rem;
}
.radius-ind{
    border-radius: 40px;

}